/* h1{
    color: lightgreen;
    text-align: center;
}

h3{
    color: blue;
}

p{
    border-color: red;
}

/* div{
    border: 2px solid black;
} */

/* div.main{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

html {
    background-color: grey;
}

.sub {
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgrey;
    text-align: center;
}
​ */ 
.tables{
    background-color: lightskyblue;
    border: 2px solid black;
}